#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 32px;
	text-align: center;
}

.bank-account-action {
	display: flex;
	justify-content: center;
	margin: 32px 0;
}

.bank-account-action-mode {
	padding: var(--sp-input);
	font-weight: bold;
	background-color: var(--black);
	min-width: 6em;
	cursor: pointer;
}

.bank-account-action-mode:first-child {
	border-top-left-radius: var(--radius-input);
	border-bottom-left-radius: var(--radius-input);
}

.bank-account-action-mode:last-child {
	border-top-right-radius: var(--radius-input);
	border-bottom-right-radius: var(--radius-input);
}

.checked-radio {
	background-color: var(--primary-color);
}

.bank-account-action-mode input {
	position: absolute;
	left: -200vw;
}

.balance-form {
	display: flex;
	justify-content: space-evenly;
	max-width: 18rem;
	margin: auto;
}

.balance-input {
	padding: var(--sp-input);
	border-radius: var(--radius-input);
	border-color: var(--white);
}

.balance-input:focus {
	border-color: var(--primary-color);
	outline: none;
}

.error {
	color: var(--error-color);
	margin-top: var(--sp-input);
	display: block;
}

.success {
	color: var(--success-color);
	margin-top: var(--sp-input);
	display: block;
}
